@import "../../styles/theme";

.header_container {
    position: fixed;
    top: 0 !important;
    right: 20px;
    transform: translate(0, calc(100vh - 100% - 60px));

    @media screen and (min-width: $max-width) {
       transform:  translate(calc((-100vw + 494px)/2), calc(100vh - 100% - 60px));
       }
}